table,
td {
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    border: 3px solid #0b00a7;
}

table {
    width: 50%;
    background-color: #ffcc88;
}

.table {
    display: flex;
    justify-content: center;
    vertical-align: auto;
    margin-top: 100px;
}

.btn-calc {
    border-radius: 10px;
    border: 3px solid #0b00a7;
    font-size: 15px;
    line-height: 20px;
    margin: 4px 0;
}

#input-hesoluong {
    width: 50px;
}
