body {
    box-sizing: border-box;
}

h3 {
    margin: 0;
}

table,
td,
th {
    font-size: 18px;
    line-height: 30px;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 4px;
}

.buy-tickets {
    display: flex;
    justify-content: center;
}

.buy-tickets__table {
    width: 50%;
}

select {
    width: 70%;
    font-size: 14px;
}

.buy-tickets__table-btn {
    width: 100px;
    height: 30px;
}

.receipt {
    border: 1px solid black;
    width: 35%;
    margin: 8px 455px 0;
    display: none;
}

.receipt__header,
h4 {
    text-align: center;
    font-size: 20px;
    margin: 0;
}

.receipt p {
    font-size: 20px;
    padding-left: 12px;
    margin: 12px;
}

.receipt__total {
    margin-top: 12px;
    font-size: 20px;
    font-weight: 600;
    margin-left: 135px;
}

.receipt__header-name,
.receipt__show-date,
.receipt__show-date {
    margin-right: 40px;
}

.receipt__table {
    width: 70%;
    margin-left: 100px;
}

.receipt__table,
.receipt__table th,
.receipt__table td {
    border-style: none;
    border: none;
    font-size: 20px;
}
