table,
td {
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 50%;
    background-color: #c3ff00;
}

.table {
    display: flex;
    justify-content: center;
    vertical-align: auto;
    margin-top: 24px;
}

.heading-table td {
    color: blue;
    font-size: 22px;
    font-weight: 600;
}

#food,
#drink {
    width: 100%;
    height: 140px;
    font-size: 16px;
}

.btn-calc {
    width: 100px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid black;
}

.table-hd {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

#table-hoahon {
    background-color: #80ffff;
}
