h1 {
    font-size: 22px;
    margin: 0;
}

td {
    font-size: 20px;
    margin: 14px;
    padding: 8px;
}

.Receipt {
    border: 1px solid black;
    margin: 100px 460px;
    width: 530px;
}

.Receipt-content {
    padding: 8px 8px 20px;
}

.Receipt-content p {
    font-size: 20px;
    margin: 14px;
}

.Receipt-header {
    text-align: center;
    font-size: 22px;
    margin: 0;
}

.Receipt-table {
    padding: 50 px;
    width: 100%;
}
